# pixi environments
.pixi/*
!.pixi/config.toml
.vscode/
.pixi
.DS_Store
**/.DS_Store
Rplots.pdf

##？
.Rhistory


# folders to ignore
data/
results/
results_legacy/
docs/papers/

# folders in scripts
scripts/__pycache__/
scripts/node_modules
scripts_legacy/__pycache__/
scripts_legacy/node_modules

